:root{
    --light: #e9e9e9;
    --dark: #000000;
    --gray: #212121;
    --lightGray: #424242;
    --lightblue: #5300e8;
}


/* color class */

.light{
    color: var(--light) !important;
}
.dark{
    color: var(--dark) !important;
}
.gray{
    color: var(--gray) !important;
}
.lightGray{
    color: var(--lightGray) !important;
}


/* Background Color class */

.light_bg{
    background-color: var(--light) !important;
}
.dark_bg{
    background-color: var(--dark) !important;
}
.gray_bg{
    background-color: var(--gray) !important;
}
.lightGray_bg{
    background-color: var(--lightGray) !important;
}
.border-bg{
    /* border-color: rgba(98,0,238,1); */
    border: 1px solid rgba(98,0,238,1);
}


body {
    position: relative;
    overflow-x: hidden;
    background: #f7f7fc;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: white;
    text-decoration: none;
}

body,
html {
    height: 100%;
}






/*---------------------------------
sidebar
----------------------*/

#sidebar-wrapper {
    z-index: 1000;
    height: 100%;
    width: 0px;
    left: -50px;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: var(--lightGray); */
    background: #181818;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(37, 37, 37, 0.5) 100%), url("https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?cs=srgb&dl=pexels-egil-sj%C3%B8holt-1906658.jpg&fm=jpg") center center no-repeat; */
    background-size: cover;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    width: 8px;
    background: #222e3c;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 10px;
}


.sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: #f8f9fa;
}

.sidebar-header {
    text-transform: capitalize;
    padding: 1.5rem 1.5rem .375rem !important;
    font-size: 14px;
    color: #ced4da;
}

.navbar-nav>li>a,
.submenu-box ul li a {
    /* color: gray !important;  Default color of munue buttons*/  
    color: white !important;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 10px 10px 20px !important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}

.submenu-box ul li a {
    padding: 4px 10px 4px 20px !important;
    color: #c1c1c1 !important;
}



.active {
    /* color: #e9ecef !important;
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .0875) 50%, transparent);
    border-left: 4px solid #3b7ddd; */

    color: #e9ecef !important;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(98,0,238,1) 0%, rgba(99, 0, 238, 0.349) 85%, transparent);
    /* background: linear-gradient(90deg, rgb(183, 19, 248) 0%, rgba(255,255,255,.0875) 85%, transparent); */
    border-left: 4px solid #b9b9b9;
}

.navbar-nav .has-sub>a.collapsed::after {
    transition: 0.4s ease;
}

.navbar-nav .has-sub>a.collapsed::after {
    color: rgb(255, 255, 255);
    font-size: 10px;
    content: "\f078";
}

.navbar-nav .has-sub>a.collapsed::after {
    color: rgb(255, 255, 255);
}

.navbar-nav .has-sub>a::after {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: gray;
    display: block;
    content: "\f077";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    margin-top: -15px;
}



#wrapper.toggled {
    padding-left: 270px;
}



.toggled#sidebar-wrapper {
    width: 270px !important;
    height: 100%;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.navbar-nav li {
    display: block !important;
    margin: 2px 0px;
}


.nav-item .nav-link {
    display: block;
    color: white !important;
    text-transform: capitalize;
    text-decoration: none;
    padding: 6px 10px;
    transition: 0.4s ease;
}

.navbar-nav>li>a i:before {
    margin: 0px 5px 0px 0px;
    font-size: 14px;
}


/*---------------------------------
sidebar
----------------------*/






/*---------------------------------
main-content
----------------------*/

#page-content-wrapper {
    width: 100%;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;

    transition: all 0.5s ease;
}

.toggled#page-content-wrapper {
    margin-left: 270px;
    transition: all 0.5s ease;
}

@media only screen and (min-width:992px) {
    .toggled#page-content-wrapper {
        width: calc(100% - 270px);
    }
}

/*---------------------------------
main-content
----------------------*/



/*---------------------------------
cross-bar animation
----------------------*/


.nav-icon1 {
    z-index: 999;
    position: relative;
    display: block;
    width: 23px;
    margin: 0px 30px 0px 25px;
    cursor: pointer;
    height: 25px;
}


.nav-icon1 span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #5d5d5d;
    left: 0;
    transform: rotate(0deg);
    transition: .30s ease-in-out;
}

.nav-icon1:hover span:nth-of-type(1) {
    top: -3px
}

.nav-icon1:hover span:nth-of-type(3) {
    top: 19px;
}

.nav-icon1 span:nth-of-type(1) {
    top: 0;
}

.nav-icon1 span:nth-of-type(2) {
    top: 8px;
}

.nav-icon1 span:nth-of-type(3) {
    top: 16px;
}

.nav-icon1.open span:nth-of-type(1) {
    top: 8px;
    transform: rotate(135deg);
}

.nav-icon1.open span:nth-of-type(2) {
    top: 8px;
    opacity: 0;
    left: -30px;
}

.nav-icon1.open span:nth-of-type(3) {
    top: 8px;
    transform: rotate(-135deg);
}


/*---------------------------------
cross-bar animation
----------------------*/



/*---------------------------------
header navbar design
----------------------*/
.my-navbar {
    padding: 0px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.text-gray-600 {
    color: #858796 !important;
}

.nav-link .img-profile {
    height: 40px;
    width: 40px;
}

.navbar-nav>li>a>i {
    font-size: 18px;
    color: #b3b3b3;
    margin: 8px 0px 0px 0px;
    padding: 0px;
}

.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 6px;
    margin-top: 4px;
}


.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}

.nav-flag,
.nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    transition: background .1s ease-in-out, color .1s ease-in-out;
    line-height: 1.4;
}


.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav .dropdown-menu {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .05);
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu-lg {
    min-width: 20rem;
}


.position-relative {
    position: relative !important;
}

.nav-item .indicator {
    background: #3b7ddd;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .05);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

/*---------------------------------
header navbar design
----------------------*/



/*---------------------------------
main-top card
----------------------*/

.card {
    margin-bottom: 24px;
    border: none;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, .05);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    cursor: pointer;
}

.card-title {
    font-size: .875rem;
    color: #495057;
}

.card-body h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}


.text-gray-800 {
    color: #5a5c69 !important;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
}


.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.font-16 {
    font-size: 16px;
}



/*---------------------------------
main-top card
----------------------*/




/*---------------------------------
main-table
----------------------*/


.m-r-10 {
    margin-right: 10px;
}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.btn-custo{
    background-color: rgba(98,0,238,1);
    color: white;
}
.btn-custo:hover{
    background-color: rgb(123, 42, 236);
    color: white;
}
.btn-info {
    color: #fff;
    background-color: #2962FF;
    border-color: #2962FF;
}

.btn-orange {
    color: #212529;
    background-color: #fb8c00;
    border-color: #fb8c00;
}

.btn-success {
    color: #fff;
    background-color: #36bea6;
    border-color: #36bea6;
}

.btn-purple {
    color: #fff;
    background-color: #7460ee;
    border-color: #7460ee;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}


.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #a1aab2;
    margin-top: -0.375rem;
}


.table td,
.table th {
    padding: 1rem;
    font-size: 14px;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table h5 {
    font-size: 16px;
    font-weight: 600;
    color: #585858;
}



/*---------------------------------
main-table
----------------------*/




/*---------------------------------
footer
----------------------*/

footer.footer {
    padding: 1rem .875rem;
    direction: ltr;
    background: #fff;
}

footer.footer ul {
    margin: 0px;
    list-style: none;
}

.footer ul li {
    display: inline-block;
    margin: 0px 7px;
}

.text-muted {
    font-size: 14px;
}

/* My Coding Start Here */

/* ---------------------------- HOVER Effect On MENU BUTTONS */

.menuHover a:hover{
    /* color: #e9ecef !important;*/
    /* background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .0875) 50%, transparent); */

    font-weight: bold;
    background: linear-gradient(90deg, rgba(98,0,238,1) 0%, rgba(99, 0, 238, 0.349) 85%, transparent);
    
    cursor: pointer;
    
}
.ico{
    color: white !important;
}
#alertsDropdown{
    color: #333;
}