* {
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
    background-size: cover;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

.CustomButton{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

.CustomButton:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.form-control ::placeholder {
    color: gray !important;

}

.SubAction {
    font-size: 18px;
    color: black;
    /* font-weight: bold; */
    margin-top: 4px;
    margin-bottom: 20px;
    /* text-align: center; */

}

.OtpMobile {
    width: 30%;
    margin: 0px auto;

}

.sendOtpsection {
    margin: 0px auto;
}

#sendOtpBtn {
    margin: 20px 20px 20px 70px;
}

@media screen and (max-width: 768px) {
    .OtpMobile {
        width: 100%;
        margin: 0px auto;
    }
}

.stepHead {
    color: #8e2de2;
}